html, body{
     background-image: url("joy.jpg");
     background-repeat: repeat;
}
.jumbotron{
    background-color: lawngreen;
    color: green;
    text-align: center;
    font-family: fantasy;
}
.container{
    background-color: aqua;
    color: darkcyan;
    font-family: fantasy;
}