html, body{
     background-image: url("drums2.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}

.navbar{
    background-color: turquoise;
    overflow: hidden;
    color: teal;
    text-align: center;
    font-family: fantasy;
    top: 0;
    width: 100%; 
    position: fixed;
}
.jumbotron{
    background: rgba(0, 0, 0, 0.4);
    color: turquoise;
    text-align: center;
    font-family: fantasy;
    padding-top: 5px;
    padding-bottom:5px;
    padding-right:5px;
    padding-left: 5px; 
    margin: 100px 100px 100px 100px;
    position: sticky;
}
.container{
    background:rgba(0, 0, 0, 0.4);
    color: turquoise;
    font-family: fantasy;
    margin-top: 200px;
    margin-bottom:200px;
    margin-right:200px;
    margin-left: 200px; 
    position: absolute;
}
img.resize{
    max-width: 100px;
    max-height: 100px;
    float: static;
}
a{
    font-size:xx-large;
}
footer{
    background-color: turquoise;
    color: teal;
    text-align: center;
    font-family: fantasy;
    bottom: 0;
    width: 100%; 
    position: fixed;
}